*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
}

.container{
  max-width: 1800px;
  width: 97%;
  margin: 0 auto;
}

header {
  padding-top: 10px;
}

.top-nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

.top-nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1.3rem;
}

.top-nav-link{
  color: #1f1f1f;
  cursor: pointer;
  transition: all .1s ease-in;
}

.top-nav-link:hover{
  text-decoration: underline;
}

.sign-in-btn {
  background-color: #0b57d0;
  color: white;
  height: 40px;
  border-radius: 100px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transition: all .1s ease-in;
}
.sign-in-btn:hover{
  text-decoration: none;
  opacity: .9;
  box-shadow: 0px 0px 30px -14px rgba(0,0,0,0.75);
}
.dots-container{
  position: relative;
  display: grid;
  grid-template-columns: 4px 4px 4px;
  grid-template-rows: 4px 4px 4px;
  gap: 3px;
  width: 18px;
  height: 18px;
}

.dot {
  width: 4px;
  height: 4px;
  background-color: #5f6369;
  border-radius: 50%;
  z-index: 5;
}